{%  extends 'team/base.html'  %}
{% load static %}

{%  block content  %}

    <h1> Задачи: </h1>

<ul>

    {% for team in teams  %}
    <li class='targets'>
        <a href="{% url 'viewteam' team.id  %}" class = 'target_a'>

        {% if team.important %}
            <p class="imp"> <b> {{ team.title }} </b> </p>

        {% else %}
            {{ team.title }}
        {% endif %}

        {% if team.memo %}
            -{{ team.memo }}
        {% endif %}
        </a>
    </li>
    {% endfor %}

</ul>

{% endblock %}