@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background: #c4c4f6;
}
.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}
.block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 60px;
}
.element, .count{
    background-color: lightyellow;
    /* flex-basis: 360px; */
    border: 6px solid #c8f4b5d1;
    margin: 20px 0;
}
.text{
    width: 360px;
    padding: 20px;
    box-sizing: border-box;
    color: green;
}
.block img{
    max-width: 360px;
}
.content h1{
    text-align: center;
    margin: 60px 0 40px;
    font-size: 36px;
    color: rgb(216, 84, 40);
}
.img + h2, .text h2{
    text-align: center;
    margin: 20px 0;
    font-size: 30px;
    color: blue;
}
.img{
    text-align: center;
    margin-bottom: 60px;
}
.img img{
    border: 6px solid #5551c9;
}
.top{
    background: #ba5cba;
    margin: 0;
}
.top a{
    color: #FFF;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.blog_text, .count{
    padding: 20px;
    box-sizing: border-box;
}
.detail{
    background: #ffffff;
    padding: 20px 20px 60px;
    box-sizing: border-box;
}

.menu{
    background: lightyellow;
    padding: 10px;
    border-bottom: 6px solid #FFF;
}
.menu .wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}
.menu li{
    margin-left: 50px;
}
.menu a{
    color: #c655c6;
    font-weight: bold;
    text-decoration: none;
}