{%  extends 'part_2/base.html'  %}

{% load static %}

{% block content %}




<h1> Живопись </h1>


<div class='img'>
    <img class='pic' src="{% static 'part_2/paints.jpg' %}" alt ='' >
</div>


<h2>Виды живописи:</h2>


<div class = 'block'>
    {% for project in projects %}

    <div class ='element'>
        <div>
            <img class='pic2' src="{{ project.pictures.url }}" alt=''>
        </div>
    </div>

    <div class = 'text'>

        <h2><a href="{{ project.links }}" target ='_blank'>{{ project.name }} </a></h2>
        <p class ='genre'>{{ project.genre }}</p>

    </div>

    {% endfor %}

</div>



{% endblock %}



