body{
    background-color: #aecaa5;
    margin: 10px;
    padding: 0;
}

.menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: rgb(178, 239, 165);
    padding: 20px;
    margin-top: 0;
    border: #3a093a;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20 px;
    box-sizing: border-box;
    background-color: rgb(92, 177, 177);
    border-color: rgb(23, 65, 25);
    border-radius: 15px;
   
}

p {
    font-family: "MS Sans Serif";
	font-size: 24px;
	color: #3a093a;
}

button {
    color: #93a51c;
    font-weight: 600;
    background-color: #a5451c;
    font-style: italic;
    text-shadow: #ebe0bf 2px;
    height: 35px;
}

.text {
    font-family: "MS Sans Serif";
	font-size: 34px;
    font-weight: 700;
	color: #3a093a;
}

.link {
    font-size: x-large;
    font-weight: 800;
}

h1{
    color: #4a530e;
    text-align: center;
 
}

@keyframes move {
	from {
		margin-left: 0;
	}
	to {
		margin-left: 1100px;
	}
  
}

p {
    animation-delay: 1s;
	animation-duration: 5s;
	animation-name: move;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	border-color: rgb(23, 65, 25);
    border-radius: 15px;
    text-align: center;
	width: 750px;
	height: 70px;
    text-align: center;
    background-color: #939f42;
}







