body{
     padding: 0;
     margin: 0;
     background: #9595db;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-style: italic;
 }


.img{
     max-height:100px; 
     max-width: auto;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     position: relative;
}

h1 {
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
     font-weight: 700;
     text-shadow: 2px 4px 3px rebeccapurple
}

.pic2{ 
     max-height:420px; 
     max-width: auto;
     justify-content: center;

}

.genre {
     color: antiquewhite;
     font-size: xx-large;
     font-weight: 600;
     text-shadow: 2px 4px 3px rebeccapurple
}

.wrap{
     max-width: 1250px;
     margin: 0 auto;
     padding: 30px;
     box-sizing: border-box;
 }




