}
.container form, .container h2{
     background-color: rgb(7, 13, 31);
     padding: 40px;
     box-sizing: border-box;
     border-radius: 6px;
}
.description{
     width: 400px;
     font-size: larger;
     font-weight: 600;
     font-style: italic;
     color: brown;
     background-color: rgb(24, 26, 170);
     padding: 40px;
     box-sizing: border-box;
     border-radius: 6px;

}

.links{
     color: rgb(214, 255, 80);
}

