body{
     background-color: rgb(197, 152, 206);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
     width: 400px;
     margin: 0 auto;
}
.container h1{
     text-align: center;
}
.container form, .container h2{
     background-color: rgb(80, 160, 176);
     padding: 40px;
     box-sizing: border-box;
     border-radius: 6px;
}
.description{
     width: 400px;
     font-size: larger;
     font-weight: 600;
     font-style: italic;
     color: rgb(5, 25, 28);
     background-color: rgb(139, 130, 208);
     padding: 40px;
     box-sizing: border-box;
     border-radius: 10px;
}
.links{
     color: rgb(69, 248, 251);
}

